<div class="logo">
  <%= image_tag "teachable-logo.png" %>
</div>
<div class="tabs">
  <div>
    <a href="/" class="search-tab">Search</a>
  </div>
  <div>
    <a href="/favorites" class="favorites-tab">Favorites</a>
  </div>
</div>
