<div class="logo">
  <%= image_tag "teachable-logo.png" %>
</div>
<div class="tabs">
  <div class="">
    <a href="/">Search</a>
  </div>
  <div class="">
    <a href="/favorites">Favorites</a>
  </div>
</div>
