<div class="content">
  <div class="">
    Search Gems
  </div>
  <div class="">
    <form class="" action="/" method="get">
      <input name="gem" type="text" size="40" placeholder="Search for gem..."  />
      <input type="submit" value="Search" id="search">
    </form>
  </div>
  <div class="gem-information">
  </div>
</div>
