<div class="left-section">
  <div class="tabs">
  </div>

</div>

<div class="right-section">
  <div class="content">
    Search Gems
    <form class="" action="/" method="get">
      <input name="gem" type="text" size="40" placeholder="Search for gem..." />
      <input type="submit" value="Search">
    </form>
  </div>
</div>
