$( document ).ready(function() {

  if ( localStorage["localStorageGems"].length >= 1 ) {
    var currentLocalStorageGems = localStorage["localStorageGems"].split(',');
  }

  function generateListArray() {
    currentLocalStorageGems.forEach(function(gemName) {
      gemLinkList = localStorage[gemName];
      $( ".favorites-list ul" ).append( "<li><img class='star-list' src=" + "<%= asset_url('star-blue.png') %>" + "><a href=" + gemLinkList + " target='_blank'>" + gemName + "</a></li>" );
    })
  }

  generateListArray();

  $( ".star-list" ).click(function(event) {
    event.preventDefault();

    var $gemName = $( this ).next().text();
    var currentLocalStorageGems = localStorage["localStorageGems"].split(',');
    var index = currentLocalStorageGems.indexOf($gemName)

    currentLocalStorageGems.splice(index, 1)
    localStorage.setItem("localStorageGems", currentLocalStorageGems)
    localStorage.removeItem($gemName);
    $( this ).next().remove();
    $( this ).remove();

  });
});
