body, html {
  height: 100%;
}

.left-section {
  display: inline-block;
  background-image: url("map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40%;
  height: 100%;
  float: left;
}

.search-section {
  display: inline-block;
  vertical-align: top;
  font-family: helvetica;
  padding-left: 120px;
  float: left;
  width: 55%;
  height: 100%;

}

.logo {
  display: block;
  float: right;
  padding-top: 30px;
  padding-right: 35px;
}

.tabs {
  display: block;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tabs a {
  display: block;
  padding: 15px 50px 15px 15px;
}

.tabs a:link, .tabs a:visited {
  color: white;
}

.tabs a:hover {
  text-decoration: none;
  background-color:rgba(252, 255, 252, 0.5);
}

.title {
  padding: 25px;
}

#search input[type="text"] {
  border: 1px solid #2C2F33;
  border-right: none;
  font: 18px ,Helvetica;
  color: #5F5F5F;
  width: 90%;
  min-width: 200px;
  height: 50px;
  padding: 6px 15px 6px 35px;
  margin-bottom: 30px;
  -webkit-border-radius: 30px 0px 0px 30px;
  -moz-border-radius: 30px 0px 0px 30px;
  border-radius: 30px 0px 0px 30px;
}

#submit-button {
  background: url("magnifying-glass.png") no-repeat center center;
  position: absolute;
  border: 1px solid #2C2F33;
  border-left: none;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 0px 30px 30px 0px;
  -moz-border-radius: 0px 30px 30px 0px;
  border-radius: 0px 30px 30px 0px;
}

.content {
  margin-top: 100px;
  font-size: 15px;
  word-wrap: break-word;
}

.gem-information {
  padding-bottom: 30px;
}

.request-output {
  padding-left: 25px;
}

.gem-name {
  padding-bottom: 30px;
  font-size: 18px;
}

.not-found {
  color: red;
}

.not-found-field {
  color: red !important;
  border-color: red !important;
}
