body, html {
  height: 100%;
}

.left-section {
  display: inline-block;
  background-image: url("map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40%;
  height: 100%;
  float: left;
}

.search-section {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 55%;
  height: 100%;

}

.logo {
  display: block;
  float: right;
  padding-top: 30px;
  padding-right: 35px;
}

.tabs {
  display: block;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.content {
  margin-top: 200px;
  border-style: solid;
  border-color: red;
}

.gem-description {
  word-wrap: break-word;
}
